<div class="order-list-wrapper">
	<div class="container">
		<div class="order-list-title row" style="border-bottom: 3px solid #dddddd;" >
			<h1 class="col-xs-12">受注一覧</h1>
		</div>
		<table class="table-borderde table-list">
			<thead>
				<tr class="order-tr-box">
					<th width="10%">受注ID</th>
					<th width="15%">受注日</th>
					<th width="10%">配送状況</th>
					<th width="15%">ユーザーid</th>
					<th width="15%">ユーザー名</th>
					<th width="20%">CD名</th>
					<th width="10%">枚数</th>
					<th width="15%">合計金額</th>
				</tr>
				<tr height="20px"></tr>
			</thead>
			<tbody>
				<% @order_appends .each do |order| %>
					<tr class="each-list">
						<td><%= order.id %></td>
						<td><%= order.created_at %></td>
						<td><%= order.status %></td>
						<td><%= order.enduser_id %></td>
						<td><%#= order.enduser.name %></td>
						<td><%#= order.product.title %></td>
						<td><%#= order.order_details.quantity %></td>
						<td><%#= order.subtitle %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>