<div class="order-list-wrapper">
	<div class="container">
		<div class="order-list-title row" style="border-bottom: 3px solid #dddddd;" >
			<h1 class="col-xs-12">受注一覧</h1>
		</div>
		<table class="table-borderde table-list">
			<thead>
				<tr class="order-tr-box">
					<th width="10%">受注ID</th>
					<th width="15%">受注日</th>
					<th width="10%">配送状況</th>
					<th width="15%">ユーザーid</th>
					<th width="15%">ユーザー名</th>
					<th width="20%">CD名</th>
					<th width="10%">枚数</th>
					<th width="15%">合計金額</th>
				</tr>
				<tr height="20px"></tr>
			</thead>
			<tbody>
				<tr class="each-list">
					<td>145</td>
					<td>2019/6/21</td>
					<td>配送中</td>
					<td>12</td>
					<td>山国郁夫</td>
					<td>aiko kisshug</td>
					<td>1</td>
					<td>3600</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>