<div class="order-details">
	<div class="container">
		<div class="order-datails-title">
			<h1>注文者（送付先）詳細</h1>
		</div>

		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>名前</string></p>
					<p style="padding-left: 10%;">小曽根由紀夫</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>かな</string></p>
					<p style="padding-left: 10%;">こそねゆきお</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>郵便番号</string></p>
					<p style="padding-left: 10%;">1230001</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>住所</string></p>
					<p style="padding-left: 10%;">神奈川県横浜市中区本牧緑丘14-1</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>電話番号</string></p>
					<p style="padding-left: 10%;">0334892011</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>Email</string></p>
					<p style="padding-left: 10%;">kojimaryuiti@gogle.com</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>支払い方法</string></p>
					<p style="padding-left: 10%;">代引き</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="order-status-wrapper">
	<div class="container">
		<div class="order-status-title">
			<h1>注文内容詳細・・・
			<span style="border: 2px solid #dddddd;">配送中</span>
			</h1>
		</div>
		<div class="row">
			<div class="status-box col-xs-8 col-xs-offset-2">
				<div class="row">
					<img src="/noimage.png" style="height: 140px;" class="col-xs-3">
					<div class="col-xs-7 col-xs-offset-1" style="padding-top: 15px">
						<p>アルバム名</p>
						<p>枚数</p>
						<p>購入日</p>
						<p>価格</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


















