<div class="order-details">
	<div class="container">
		<div class="order-datails-title">
			<h1>注文者（送付先）詳細</h1>
		</div>

		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>名前</string></p>
					<p style="padding-left: 10%;"><%= @order_append.name %></p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>郵便番号</string></p>
					<p style="padding-left: 10%;"><%= @order_append.postal_code %></p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>住所</string></p>
					<p style="padding-left: 10%;"><%= @order_append.address %></p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>電話番号</string></p>
					<p style="padding-left: 10%;"><%#= @order_append.enduser_id.tel %></p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>Email</string></p>
					<p style="padding-left: 10%;"><%#= @order_append.enduser_id.email %></p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="details-box col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>支払い方法</string></p>
					<p style="padding-left: 10%;">代引き</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="order-status-wrapper">
	<div class="container">
		<div class="order-status-title">
			<h1>注文内容詳細・・・
			<%= f.select :status, options_for_select(OrderAppend.statuses.keys),{} %>
			</h1>
		</div>
		<div class="row">
			<div class="status-box col-xs-8 col-xs-offset-2">
				<div class="row">
					<img src="/noimage.png" style="height: 140px;" class="col-xs-3">
					<div class="col-xs-7 col-xs-offset-1" style="padding-top: 15px">
						<p>アルバム名</p>
						<p>枚数</p>
						<p>購入日</p>
						<p>価格</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


















