<div class="admin-user-edit">
	<div class="container">
		<div class="admin-user-edit-title"style="margin: 30px">
			<h1>お客様編集</h1>
		</div>

		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>名前</string></p>
					<p style="padding-left: 10%;">設楽将太</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>フリガナ</string></p>
					<p style="padding-left: 10%;">シダラショウタ</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>郵便番号</string></p>
					<p style="padding-left: 10%;">1112222</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>住所</string></p>
					<p style="padding-left: 10%;">神奈川県横浜市中区本牧緑丘100</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>電話番号</string></p>
					<p style="padding-left: 10%;">08053801190</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>Email</string></p>
					<p style="padding-left: 10%;">ss045.official@gmail.com</p>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="col-xs-10 col-xs-offset-1" style="list-style:none;">
				<li style="border-bottom: 3px solid #dddddd">
					<p><string>パスワード</string></p>
					<p style="padding-left: 10%;">111222</p>
				</li>
			</ul>
		</div>
		<div class="row" style="margin: 50px">
			<div class="col-xs-10 col-xs-offset-1">
				<a class="btn btn-default" href="#" style="width: 100px; margin-right: 500px;" >更新</a>
				<a class="btn btn-default" href="#" style="width: 100px;" >退会</a>
			</div>
		</div>
	</div>
</div>