
<div class="top-wrapper">
	<div class="master-image">
		<div class="container">
			<div class="top-title">
				<h2 class="sans white">TATSUYA</h2>
			</div>
			<div class="btn-position">
				<div class="sign clearfix">
					<%= link_to '新規登録',new_admin_registration_path,class: "sans white" %>
				</div>
				<div class="sign clearfix">
					<%= link_to 'ログイン',new_admin_session_path,class: "sans white" %>
				</div>
			</div>
		</div>
	</div>
</div>