

	<div class="select-wrapper">
		<div class="container">
				<div class="select"style="text-align: center; margin:50px ;">
					<div class="sselect clearfix">
						<%= link_to 'レーベル・アーティスト・ジャンル登録に戻る',new_admins_artist_path %>
					</div>
					<div class="select clearfix">
						<%= link_to '商品登録画面へ進む',new_admins_product_path %>
					</div>
				</div>
			</div>
		</div>
	</div>
