
	<div class="success">
         <div class="success-text">
      	   <h1><img src="/success.jpeg" alt="写真" width="96" height="65">ご購入ありがとうございます<img src="/success.jpeg" class="flip-horizontal" alt="写真" width="96" height="65"></h1>
           <h4>本店は今年で30週年となります。</h4>
           <h4>そのため、インターネットでの販売に力を入れている次第でございます。</h4>
           <h4>今後も入荷の幅を広げていこうと思いますので、よろしくおねがい致します。</h4>
        </div>
        <div class="success-button">
          <%= link_to "商品一覧に戻る", products_path, class: "btn" %>
        </div>
   </div>


