<div class="top-wrapper">
	<div class="top-image">
		<div class="container">
			<div class="top-title">
				<h2 class="sans white">TATSUYA</h2>
			</div>
			<div class="btn-position">
				<div class="sign clearfix">
					<a href="#" class="sans white">新規登録</a>
				</div>
				<div class="sign clearfix">
					<a href="#" class="sans white">ログイン</a>
				</div>
			</div>
		</div>
	</div>
</div>