<div class = "cart-index-wrapper">
	<div class ="container">
	 	<div class="row">
	 		<div class="col">
		 		<table class="table table-bordered">
		 			<thead>
					</thead>
				<tbody>
					<!---->
						<tr>
							<td>
								<p>ジャケット画像</p>
							</td>
							<td>
								<p style="border-bottom:1.0px solid black;">title</p>
								<br>
								<input type="quantity">
								<button type="button" class="btn btn-primary"><p>削除</p></button>
							</td>
							<td>
								<p>単価</p><input type="quantity">円
							</td>
						</tr>
					<!---->
				</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-8">
				<button type="button" class="btn btn-primary"><p>金額</p></button>
					<h4 style="border-bottom:1.0px solid black;">小計</h4>
					<h4 style="border-bottom:1.0px solid black;">配送料</h4>
				<h4 style="border-bottom:1.0px solid black;">合計</h4">
			</div>
		</div>
		<button type="button" class="btn btn-primary"><p>購入画面へ</p></button>
		<!---->

	</div>
</div>
