<div class = "cart-index-wrapper">
	<div class ="container">
	 	<div class="row" style="margin-top: 50px;">
	 		<div class="col">
		 		<table class="table table-bordered">
					<tbody>
					<%# @current_end_user.carts.each do |cart| %>
						<tr>
							<td>
								<%#= attachment_image_tag cart.product.profile_image_id,:format:'jpegs', size:"40x40" %>
								<p>ジャケット画像</p>
							</td>
							<td>
								<p style="border-bottom:1.0px solid black;">title<%#= cart.product.album_name %></p>
								<br>
								<select name="test">
									<option value="test1" selected="selected">1</option>
									<option value="test2">2</option>
									<option value="test3">3</option>
								</select>
								<button><%#= button_to "削除", cart.product, method: :delete, "data-confirm" => "カートから削除しますか？" %></button>
							</td>
							<td>
								<p>単価</p><%#= (cart.product.price*quantity).to_i %>円
							</td>
						</tr>
					<%# end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-8">
				<h4 style="border:1.0px solid black; text-align: center;">金額</h4>
					<h4 style="border-bottom:1.0px solid black;">小計<%#= (@cart.total_price).to_i %>円</h4>
					<h4 style="border-bottom:1.0px solid black;">配送料５００円</h4>
				<h4 style="border-bottom:1.0px solid black;">合計<%= (@cart.total_price + 500).to_i %></h4">
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin-top: 50px; text-align: center">
				<button style="width: 60%; margin-bottom: 30px;"><%= link_to "購入画面へ" ,order_appends_new_path %></button>
		<!---->
			</div>
		</div>
	</div>
</div>
