<div class = "cart-index-wrapper">
	<div class ="container">
	 	<div class="row" style="margin-top: 50px;">
	 		<div class="col">
		 		<table class="table table-bordered">
					<tbody>
					<%# @cars.each do |cart| %>
						<tr>
							<td>
								<%#= attachment_image_tag cart.product,:profile_image_id,:fill,10,10,format:'jpegs',class:"img-circle pull-left profile-img", fallback: "no_image.jpg", size:"40x40" %>
								<p>ジャケット画像</p>
							</td>
							<td>
								<p style="border-bottom:1.0px solid black;">title<%#= cart.product.album_name %></p>
								<br>
								<select name="test">
									<option value="test1" selected="selected">1</option>
									<option value="test2">2</option>
									<option value="test3">3</option>
								</select>
								<button><%#= link_to "削除", _path(@cart), method: :delete, "data-confirm" => "本当に削除しますか？" %></button>
							</td>
							<td>
								<p>単価</p><%#= cart.product.price %><input type="quantity">円
							</td>
						</tr>
					<!---->
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-8">
				<h4 style="border:1.0px solid black; text-align: center;">金額</h4>
					<h4 style="border-bottom:1.0px solid black;">小計</h4>
					<h4 style="border-bottom:1.0px solid black;">配送料</h4>
				<h4 style="border-bottom:1.0px solid black;">合計</h4">
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin-top: 50px; text-align: center">
				<button style="width: 60%;"><p>購入画面へ</p></button>
		<!---->

			</div>
		</div>
	</div>
</div>
