/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*deviseのcss*/

.devise-wrapper {
	background-color: rgba(153,153,255,0.5);
	color: white;
	width: 100%;
	/*height: 700px;*/
	padding-bottom: 50px;
}

/*-------userの新規登録---------*/













/*------userのログイン画面------*/



.field {
	width: 100%;
	text-align: center;
}

.devise-title {
	font-size: 100px;
}

.devise-font {
	font-size: 50px;
	margin-top: 30px;
}

.devise-box {
	width: 350px;
	height: 40px;
	border: 3px solid rgba(153,153,255,1);
	border-radius: 20px;
	outline: none;
	color: #888888;
	padding-left: 10px;
}

.actions {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.action-btn {
	width: 40%;
	background-color: white;
	color: rgba(153,153,255,0.8);
	height: 50px;
	border-bottom: 3px solid #bbbbbb;
	font-size: 30px;
}




  /*-----user/show------*/


 .mypage-border-font {
 	border: 3px solid #dddddd;
 	border-radius: 10px;
 	margin: 10px;
 	text-align: center;
 }


 /*----home/success-----*/

 .success{
	width: 100%;
	height: 750px;
}


.success-text{
  text-align: center;
  padding-top: 250px;
}

.success-button{
	text-align: center;
	padding: 50px;
}

.btn{
    border-radius: 5px;
    background-color: green;
    padding: 20px;
    color: white;
    width: 150px;
    text-decoration: none;
}

.flip-horizontal{
	transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/*------home/master-------*/

.master-image {
	background: linear-gradient(-45deg,rgba(246,211,101,0.4),rgba(253,160,133,0.4)),
	url(/topimage.jpg);
	background-size: cover;
	width: 100%;
	height: 700px;
}



/*-----top-------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.top-wrapper {
	width: 100%;
	height: 700px;
}

.top-image {
	background: linear-gradient(-45deg,rgba(228,169,114,0.4),rgba(153,65,216,0.4)),
	url(/topimage.jpg);
	background-size: cover;
	width: 100%;
	height: 700px;
}

.sans {
	font-family: sans-serif;
}

.white {
	color: white;
}

.top-title {
	width: 100%;
	height: 200px;
	margin: 0 auto;
}

.top-title h2{
	color: yellow;
	font-size: 100px;
	text-align: center;
	padding-top: 100px;
}

.top-comment {
	width: 70%;
	margin: 0 auto;
}

.top-comment p{
	font-size: 25px;
	letter-spacing: 1.8px;
}

.btn-position {
	margin-left: 200px;
	margin-top: 250px;
}

.sign {
	float: left;
	background-color: #dddddd;
	height: 40px;
	width: 300px;
	border: 0.5px;
	border-radius: 20px;
}

.sign:first-child{
	margin-right: 200px;
}

.sign a {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
}

.sign a:hover {
	background-color: #aaaaaa;
	color: yellow;
	border: 0.5px;
	border-radius: 20px;
}

/*------address-menus/show-------*/

.address-textbox {
	height: 50px;
	width: 100%;
}

.address-box {
	margin-top: 30px;
}

.border-font {
	border: 3px solid #eeeeee;
	border-radius: 20px;
}

.address-under-box {
	padding: 30px;
	height: 300px;
	margin-top: 3%;
}

/*-------------------------------*/



/*------header-------*/

header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  background-color: #000080;
}
nav{
	position: relative;
	width: 90%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
}
.nav-list {
	text-align: center;
	padding: 10px 0;
	margin: 0 20px;
}
.nav-list-item{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	font-size: 30px;
	font-weight:bolder;
}
.header-title {
	color: yellow;
}

/*-- product index--*/
.product {
	margin: 15px;
	float: left;
	list-style: none;
}
/*------------------*/

/*-- product admin/index--*/
table.admin-product-index td{
	padding: 1% 0;
	border-bottom: 1px solid #999;
}
/*------------------*/

/*-- product admin/show--*/
table.product-main thead th{
	border-bottom: 3px solid #999;
}

table.product-main td{
	padding-top: 1%;
}

.review-list{
	list-style-type: none;
}
/*------------------*/


/*------admins/order_appends---------*/

.table-list {
	margin-top: 50px;
}

.order-tr-box {
	border-bottom: 3px solid #dddddd;
	border-radius: 20px;
	width: 100%;
}

/*.order-tr-box th {
	text-align: center;
}
*/

.each-list {
	border: 3px solid #dddddd;
	border-radius: 20px;
	height: 100px;
}

/*----------------------------*/

/*-------------order-appends/show--------*/

.details-box {
	padding: 10px;
}

.details-line {
	width: 100%;
	border-bottom: 3px solid #dddddd;
}

.status-box {
	border: 3px solid #dddddd;
	border-radius: 20px;
	padding: 20px;
	margin-bottom: 10px;
}

.status-box p {
	margin-left: 40px;
}










/*-----------footer----------*/

footer {
	height: auto;
	background-color: #bbbbdd;
	color: white;
}






