<div class="nested-fields">

	<div class="songs">
	    <%= f.fields :songs do |song| %>
		    <%= render 'song_fields', f:song %>
	    <% end %>
	    <div class="links">
		    <%= link_to_add_association "曲追加", f, :songs %>
	    </div>
	</div>
</div>