<div class="nested-fields form-inline" style="margin-left: 380px;">
	<div class="form-group">
		<%= f.number_field :track, class: "number" %>
		<%= f.text_field :name, class: "song-name" %>
	</div>
</div>
