<div class="productindex-wrapper">
	<div class="container">
	   <div class="row" style="text-align: center;">
	    <input type="search" name="search" size="148" placeholder="キーワードを入力">
	    <input type="submit" name="submit" value="検索">
	   </div>
	   <div class="row">
	   	<h2>アルバム一覧</h2>
	   	<table class="admin-product-index" width="100%" style="text-align: center;">
	   		<tr>
	   			<td><img src="#" width="70" height="70" /></td>
	   			<td>アーティスト名</td>
	   			<td><button type="button" class="btn btn-info">編集</button></td>
	   		</tr>
	   		<tr>
	   			<td><img src="#" width="70" height="70" /></td>
	   			<td>アーティスト名</td>
	   			<td><button type="button" class="btn btn-info">編集</button></td>
	   		</tr>
	   	</table>
	   </div>
	</div>
</div>