<div class = "order-wrapper">
	<div class ="container">
		<div class="row">
			<div class="col">
				<h3 style="border-bottom:1.0px solid black;">購入情報入力</h3>
					<h4><input type="checkbox" name="order-appnds addres" value="existing address">既存の住所</h4>
					<br>
					<h4><input type="checkbox" name="order-appnds addres" value="new address">新しい送り先</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h3 style="border-bottom:1.0px solid black;">支払い方法入力</h3>
					<h4><input type="checkbox" name="method of payment" value="cash on delivery">代引き</h4>
					<br>
					<h4><input type="checkbox" name="method of payment" value="credit card">クレジットカード</h4>
					<br>
					<h4><input type="checkbox" name="method of payment" value="bank transfer">銀行振込</h4>
			</div>
		</div>
	</div>
</div>
